<div class="item">
	<div class="item">
		<div class="itemLabel">
		Dispense:
	</div>
	<div class="itemContent">
		<span class="line">{{:~link('Plasma ' + ~round(data.plasma), data.plasma ? 'circlesmall-full' : 'circlesmall-empty', {'action' : 'plasma'},  data.plasma ? null : 'disabled') }}</span>
		<span class="line">{{:~link('Oxygen ' + ~round(data.oxygen), data.oxygen ? 'circlesmall-full' : 'circlesmall-empty', {'action' : 'oxygen'},  data.oxygen ? null : 'disabled') }}</span>
	</div>
	</div>
</div>
